<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <%- include('partials/headlinks') %>
</head>
<body>
    <div class="p-4">
        <div class="flex justify-end items-center py-2">
            <a class="bg-blue-500 rounded-xl py-2 px-3 hover:to-blue-700 hover:text-gray-400" href="/create">Create Account</a>
        </div>
        <div class="p-5 max-w-2xl mx-auto bg-gray-300 rounded-lg">
            <p class="text-center text-2xl font-semibold pb-4">User Accounts</p>
            <div class="max-h-72 overflow-y-auto">
                <table class="table-auto w-full text-center">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>View</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% if (users.length > 0) { %>
                            <% users.forEach(user =>{ %>
                                <tr>
                                    <td class="text-nowrap px-4"><%= user.name %></td>
                                    <td class="px-4"><%= user.email %></td>
                                    <td class="px-4"><%= user.password2 %></td>
                                    <td class="flex justify-center items-center px-4"><a href="/<%= user.id %>">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                        </svg>
                                    </a></td>
                                </tr>
                            <% }) %>
                        <% }else{ %>
    
                        <% } %>
                      <tr>
                        
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>