<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.name %></title>
    <%- include('partials/headlinks') %>
</head>
<body>
    <div class="p-4">
        <div class="">
            <a href="/" class="bg-gray-400 float-left px-3 py-2 rounded-lg">Back</a>
            <p class="text-3xl text-center pb-4"><%= user.name %>'s Account</p>
            <div class="px-5 mx-auto pb-3 max-w-xl">
                <%- messages('messages') %> 
            </div>
        </div>
        <div class="flex flex-wrap justify-center w-full gap-8 px-4">
            <div class="w-full max-w-lg p-4 ">
                <form action="/update/<%= user.id %>" method="post">
                    <div>
                        <label
                          for="name"
                          class="block mb-2 text-sm font-medium text-gray-800"
                          >Fullname</label
                        >
                        <input
                          type="text"
                          name="name"
                          id="name"
                          value="<%= user.name %>"
                          class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-customPurple focus:border-customPurple block w-full p-2.5"
                          placeholder="Full name"
                          required />
                      </div>
                    <div class="mt-3">
                        <label
                          for="email"
                          class="block mb-2 text-sm font-medium text-gray-800"
                          >Email</label
                        >
                        <input
                          type="email"
                          name="email"
                          id="email"
                          value="<%= user.email %>"
                          class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-customPurple focus:border-customPurple block w-full p-2.5"
                          placeholder="johndoe@gmail.com"
                          required />
                      </div>
                    <div class="mt-3">
                        <label
                          for="password"
                          class="block mb-2 text-sm font-medium text-gray-800"
                          >Password</label
                        >
                        <input
                          type="text"
                          name="password"
                          id="password"
                          value="<%= user.password2 %>"
                          class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-customPurple focus:border-customPurple block w-full p-2.5"
                          placeholder="******"
                          required />
                      </div>
                    <div class="mt-4">
                        <label
                          for="name"
                          class="block mb-2 text-sm font-medium text-gray-800"
                          >Address</label
                        >
                        <input
                          type="text"
                          name="address"
                          id="address"
                          value="<%= user.address %>"
                          class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-customPurple focus:border-customPurple block w-full p-2.5"
                          placeholder="Address"
                          required />
                    </div>
                    <div class="mt-4">
                        <label for="country" class="block mb-2 text-sm font-medium text-gray-600">Choose a Gender</label>
                        <select required id="gender" class="bg-gray-50 border border-gray-300 text-gray-800 text-sm rounded-lg focus:ring-customTeal focus:border-customTeal block w-full p-2.5" name="gender">
                            <option value="<%= user.Gender %>"><%= user.Gender %></option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="mt-3">
                        <label
                          for="dob"
                          class="block mb-2 text-sm font-medium text-gray-800"
                          >Date of Birth</label
                        >
                        <input
                          type="date"
                          name="dob"
                          id="dob"
                          value="<%= user.DateOfBirth %>"
                          class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-customPurple focus:border-customPurple block w-full p-2.5"
                          placeholder="Date Of Birth"
                          required/>
                    </div>
                    <button type="submit" class="w-full bg-blue-400 rounded-xl py-2 my-3">Update Account</button>
    
                </form>
            </div>
            <div class="">
                <div>
                    <p class="text-xl">Profile Picture:</p>
                    <img src="<%= user.picture %>" alt="" class="w-64">
                    <p class="pt-6 text-lg">Change Picture:</p>
                    <form id="imageForm">
                        <div>
                            <div class=" mb-4">
                                <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="file_input_help" id="image1" type="file" required>
                                <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or GIF (MAX. 800x400px).</p>
                            </div>
                        </div>
                        <button type="submit" class="w-full bg-blue-400 rounded-xl py-2" id="submitbtn">Update Image</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="my-10 flex flex-wrap justify-center w-full gap-12 px-4">
            <div class="w-96">
                <p class="font-medium text-xl">Update Account Status</p>
                <form action="/updateAccount/<%= user.id %>" method="post">
                    <div class="mt-4">
                        <label
                          for="number"
                          class="block mb-2 text-sm font-medium text-gray-800"
                          >Account number</label
                        >
                        <input
                          type="number"
                          name="number"
                          id="number"
                          value="<%= user.account.number %>"
                          class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-customPurple focus:border-customPurple block w-full p-2.5"
                          placeholder="account number"
                          required />
                    </div>
                    <div class="mt-4">
                        <label
                          for="balance"
                          class="block mb-2 text-sm font-medium text-gray-800"
                          >Account Balance</label
                        >
                        <input
                          type="number"
                          name="balance"
                          id="balance"
                          value="<%= user.account.balance %>"
                          class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-customPurple focus:border-customPurple block w-full p-2.5"
                          placeholder="account number"
                          required />
                    </div>
                    <div class="mt-4">
                        <label
                          for="cryptoBalance"
                          class="block mb-2 text-sm font-medium text-gray-800"
                          >Crypto Balance</label
                        >
                        <input
                          type="number"
                          name="cryptoBalance"
                          id="cryptoBalance"
                          value="<%= user.account.cryptoBalance %>"
                          class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-customPurple focus:border-customPurple block w-full p-2.5"
                          placeholder="account number"
                          required />
                    </div>
                    <div class="mt-4">
                        <label
                          for="withdrawals"
                          class="block mb-2 text-sm font-medium text-gray-800"
                          >Withdrawals</label
                        >
                        <input
                          type="number"
                          name="withdrawals"
                          id="withdrawals"
                          value="<%= user.account.withdrawals %>"
                          class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-customPurple focus:border-customPurple block w-full p-2.5"
                          placeholder="account number"
                          required />
                    </div>
                    <button type="submit" class="w-full bg-blue-400 rounded-xl py-2 my-3">Update Account Status</button>                    
                </form>
            </div>
            <div class="w-96">
                <p class="font-medium text-lg">Update Pins</p>
                <form action="/updatePin/<%= user.id %>" method="post">
                    <div class="mt-4">
                        <label
                          for="transfer"
                          class="block mb-2 text-sm font-medium text-gray-800"
                          >Transfer Pin</label
                        >
                        <input
                          type="number"
                          name="transfer"
                          id="transfer"
                          value="<%= user.pin.transfer %>"
                          class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-customPurple focus:border-customPurple block w-full p-2.5"
                          placeholder="account number"
                          required />
                    </div>
                    <div class="mt-4">
                        <label
                          for="imf"
                          class="block mb-2 text-sm font-medium text-gray-800"
                          >IMF Pin</label
                        >
                        <input
                          type="number"
                          name="imf"
                          id="imf"
                          value="<%= user.pin.imf %>"
                          class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-customPurple focus:border-customPurple block w-full p-2.5"
                          placeholder="account number"
                          required />
                    </div>
                    <div class="mt-4">
                        <label
                          for="otp"
                          class="block mb-2 text-sm font-medium text-gray-800"
                          >OTP Pin</label
                        >
                        <input
                          type="number"
                          name="otp"
                          id="otp"
                          value="<%= user.pin.otp %>"
                          class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-customPurple focus:border-customPurple block w-full p-2.5"
                          placeholder="account number"
                          required />
                    </div>
                    <div class="mt-4">
                        <label
                          for="tax"
                          class="block mb-2 text-sm font-medium text-gray-800"
                          >Tax Pin</label
                        >
                        <input
                          type="number"
                          name="tax"
                          id="tax"
                          value="<%= user.pin.tax %>"
                          class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-customPurple focus:border-customPurple block w-full p-2.5"
                          placeholder="account number"
                          required />
                    </div>
                    <button type="submit" class="w-full bg-blue-400 rounded-xl py-2 my-3">Update Pin</button>                    
                </form>
            </div>
        </div>
        <div class="my-10 flex flex-wrap justify-center w-full gap-12 px-4">
          <div class="min-w-96">
            <p class="font-medium text-xl">View Account Transactions</p>
            <div class="max-h-full max-w-full overflow-auto mt-3">
              <table>
                <thead>
                  <th>Narration</th>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>Type</th>
                  <th>Successful</th>
                  <th class="ps-2">Delete</th>
                </thead>
                <tbody>
                  <% if (user.transaction.length > 0) { %>
                    <% user.transaction.forEach(transaction => { %>
                      <tr>
                        <td class="px-4 text-center"><%=transaction.narration %></td>
                        <td class="px-4 text-center"><%=transaction.date %></td>
                        <td class="px-4 text-center"><%=transaction.amount %></td>
                        <td class="px-4 text-center"><%=transaction.type %></td>
                        <td class="px-4 text-center"><%=transaction.successful %></td>
                        <td class="px-4 text-center"><a href="/deleteTransaction/<%= user.id %>/<%= transaction.id %>" class="no-underline text-blue-600">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                          </svg>
                        </a></td>
                      </tr>
                    <% })%>
                  <% } else{ %>
                    <p class="text-center text-gray-600 text-sm">No transactions</p>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="min-w-96">
            <p class="font-medium text-xl pb-4">Add Account Transaction</p>
            <form action="/addTransaction/<%= user.id %>" method="post">
              <div>
                <label
                  for="narration"
                  class="block mb-2 text-sm font-medium text-gray-800"
                  >Narration</label
                >
                <input
                  type="text"
                  name="narration"
                  id="narration"
                  class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-customPurple focus:border-customPurple block w-full p-2.5"
                  placeholder="Narration"
                  required />
              </div>
              <div class="mt-3">
                <label
                  for="date"
                  class="block mb-2 text-sm font-medium text-gray-800"
                  >Date and Time</label
                >
                <input
                  type="datetime-local"
                  name="date"
                  id="date"
                  class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-customPurple focus:border-customPurple block w-full p-2.5"
                  placeholder="Date Of Transaction"
                  required/>
            </div>
              <div class="mt-3">
                <label
                  for="amount"
                  class="block mb-2 text-sm font-medium text-gray-800"
                  >Amount</label
                >
                <input
                  type="number"
                  name="amount"
                  id="amount"
                  class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-customPurple focus:border-customPurple block w-full p-2.5"
                  placeholder="Amount"
                  required />
              </div>
              <div class="mt-3">
                <label for="type" class="block mb-2 text-sm font-medium text-gray-600">Type</label>
                <select required id="type" class="bg-gray-50 border border-gray-300 text-gray-800 text-sm rounded-lg focus:ring-customTeal focus:border-customTeal block w-full p-2.5" name="type">
                    <option selected value="deposit">Deposit</option>
                    <option value="withdrawal">Withdrawal</option>
                </select>
            </div>
              <div class="mt-3">
                <label for="successful" class="block mb-2 text-sm font-medium text-gray-600">Successful</label>
                <select required id="successful" class="bg-gray-50 border border-gray-300 text-gray-800 text-sm rounded-lg focus:ring-customTeal focus:border-customTeal block w-full p-2.5" name="successful">
                    <option selected value="true">true</option>
                    <option value="false">false</option>
                </select>
            </div>
            <button type="submit" class="w-full bg-blue-400 rounded-xl py-2 my-3">Create Transaction</button> 
            </form>
          </div>
        </div>
        <div class="my-10 flex flex-wrap justify-center w-full gap-12 px-4">
          <div class="min-w-96">
            <p class="font-medium text-xl">View Crypto Transactions</p>
            <div class="max-h-full max-w-full overflow-auto mt-3">
              <table>
                <thead>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>Type</th>
                  <th class="ps-1">Delete</th>
                </thead>
                <tbody>
                  <% if (user.cryptotransaction.length > 0) { %>
                    <% user.cryptotransaction.forEach(cryptotransaction => { %>
                      <tr>
                        <td class="px-4 text-center"><%=cryptotransaction.date %></td>
                        <td class="px-4 text-center"><%=cryptotransaction.amount %></td>
                        <td class="px-4 text-center"><%=cryptotransaction.type %></td>
                        <td class="px-4 text-center"><a href="/deleteCryptoTransaction/<%= user.id %>/<%= cryptotransaction.id %>" class="no-underline text-blue-600">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                          </svg>
                        </a></td>
                      </tr>
                    <% })%>
                  <% } else{ %>
                    <tr><p class="text-center text-gray-600 text-sm">No transactions</p></tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="min-w-96">
            <p class="font-medium text-xl pb-4">Add Crypto Transaction</p>
            <form action="/addCryptoTransaction/<%= user.id %>" method="post">

              <div class="mt-3">
                <label
                  for="date"
                  class="block mb-2 text-sm font-medium text-gray-800"
                  >Date and Time</label
                >
                <input
                  type="datetime-local"
                  name="date"
                  id="date"
                  class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-customPurple focus:border-customPurple block w-full p-2.5"
                  placeholder="Date Of Transaction"
                  required/>
            </div>
              <div class="mt-3">
                <label
                  for="amount"
                  class="block mb-2 text-sm font-medium text-gray-800"
                  >Amount</label
                >
                <input
                  type="number"
                  name="amount"
                  id="amount"
                  class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-customPurple focus:border-customPurple block w-full p-2.5"
                  placeholder="Amount"
                  required />
              </div>
              <div class="mt-3">
                <label for="type" class="block mb-2 text-sm font-medium text-gray-600">Type</label>
                <select required id="type" class="bg-gray-50 border border-gray-300 text-gray-800 text-sm rounded-lg focus:ring-customTeal focus:border-customTeal block w-full p-2.5" name="type">
                    <option selected value="deposit">Deposit</option>
                    <option value="withdrawal">Withdrawal</option>
                </select>
            </div>
            <button type="submit" class="w-full bg-blue-400 rounded-xl py-2 my-3">Create Crypto Transaction</button> 
            </form>
          </div>
        </div>
        <div class="my-10">
          <div class="flex justify-center items-center gap-4">
            <p>Debit Card status:</p>
              <% if (user.card.debit == 'active'){ %>
                <label class="relative inline-flex items-center cursor-pointer">
                  <input type="checkbox" id="toggleButton" class="sr-only" onchange="handleToggle(this)" checked>
                  <div class="w-14 h-8 bg-green-500 rounded-full toggle-track"></div>
                  <div class="absolute left-1 top-1 w-6 h-6 bg-white rounded-full shadow-md toggle-thumb transform translate-x-6"></div>
                </label>
              <% } else{ %>
                <label class="relative inline-flex items-center cursor-pointer">
                  <input type="checkbox" id="toggleButton" class="sr-only" onchange="handleToggle(this)">
                  <div class="w-14 h-8 bg-gray-300 rounded-full toggle-track"></div>
                  <div class="absolute left-1 top-1 w-6 h-6 bg-white rounded-full shadow-md toggle-thumb"></div>
                </label>
              <% } %>
            
          </div>
          <div class="flex justify-center items-center gap-4 mt-4">
            <p>Crypto Card status:</p>
              <% if (user.card.crypto == 'active'){ %>
                <label class="relative inline-flex items-center cursor-pointer">
                  <input type="checkbox" id="toggleButton" class="sr-only" onchange="handleToggle1(this)" checked>
                  <div class="w-14 h-8 bg-green-500 rounded-full toggle-track1"></div>
                  <div class="absolute left-1 top-1 w-6 h-6 bg-white rounded-full shadow-md toggle-thumb1 transform translate-x-6"></div>
                </label>
              <% } else{ %>
                <label class="relative inline-flex items-center cursor-pointer">
                  <input type="checkbox" id="toggleButton" class="sr-only" onchange="handleToggle1(this)">
                  <div class="w-14 h-8 bg-gray-300 rounded-full toggle-track1"></div>
                  <div class="absolute left-1 top-1 w-6 h-6 bg-white rounded-full shadow-md toggle-thumb1"></div>
                </label>
              <% } %>
          </div>
        </div>
    </div>

    <script>
      async function fetchData(url) {
      try {
          const response = await fetch(url, {method: 'POST'});
          if (!response.ok) {
              throw new Error(`HTTP error! status: ${response.status}`);
          }
          const data = await response.json();
          return data;
      } catch (error) {
          console.error('Error fetching data:', error);
          return null;
      }
    }
      // JavaScript Functions
      function functionOn() {
        fetchData('/debit/<%= user.id%>/active')
        .then(data => {
            if (data) {
                console.log(data);
                location.reload(true)
            }
        });
      }
  
      function functionOff() {
        fetchData('/debit/<%= user.id%>/inactive')
        .then(data => {
            if (data) {
                console.log(data);
                location.reload(true)
            }
        });
      }

      function functionOn1() {
        fetchData('/crypto/<%= user.id%>/active')
        .then(data => {
            if (data) {
                console.log(data);
                location.reload(true)
            }
        });
      }
  
      function functionOff1() {
        fetchData('/crypto/<%= user.id%>/inactive')
        .then(data => {
            if (data) {
                console.log(data);
                location.reload(true)
            }
        });
      }
  
      // Toggle Function
      function handleToggle(checkbox) {
        if (checkbox.checked) {
          document.querySelector('.toggle-track').classList.remove('bg-gray-300');
          document.querySelector('.toggle-track').classList.add('bg-green-500');
          document.querySelector('.toggle-thumb').classList.add('transform', 'translate-x-6');
          functionOn();
        } else {
          document.querySelector('.toggle-track').classList.remove('bg-green-500');
          document.querySelector('.toggle-track').classList.add('bg-gray-300');
          document.querySelector('.toggle-thumb').classList.remove('transform', 'translate-x-6');
          functionOff();
        }
      }

      function handleToggle1(checkbox) {
        if (checkbox.checked) {
          document.querySelector('.toggle-track1').classList.remove('bg-gray-300');
          document.querySelector('.toggle-track1').classList.add('bg-green-500');
          document.querySelector('.toggle-thumb1').classList.add('transform', 'translate-x-6');
          functionOn1();
        } else {
          document.querySelector('.toggle-track1').classList.remove('bg-green-500');
          document.querySelector('.toggle-track1').classList.add('bg-gray-300');
          document.querySelector('.toggle-thumb1').classList.remove('transform', 'translate-x-6');
          functionOff1();
        }
      }
    </script>

    <Script>
         const submitbtn = document.getElementById('submitbtn')

    document.getElementById('imageForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const image1 = document.getElementById('image1').files[0];
        
        // console.log(fullname, country, type, id)
        submitbtn.innerText = 'Uploading....'
        submitbtn.disabled = true

        if (image1) {
            uploadImage(image1).then(url1 => {
                upload([url1]);
            }).catch(error => {
                console.error('Error uploading image 1:', error);
                submitbtn.innerText = 'Image Upload Failed, Please Try Again'
                submitbtn.disabled = false
            });
        } else {
            alert('Please select both images.');
        }
    });

    function uploadImage(image) {
        const cloudName = 'dvk93z9vj'; // Replace with your Cloudinary cloud name
        const uploadPreset = 'unsigned_preset'; // Replace with your Cloudinary upload preset

        const url = `https://api.cloudinary.com/v1_1/${cloudName}/image/upload`;
        const formData = new FormData();
        formData.append('file', image);
        formData.append('upload_preset', uploadPreset);

        return fetch(url, {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => data.secure_url)
        .catch(error => {
            console.error('Error uploading to Cloudinary:', error);
            submitbtn.innerText = 'Upload Failed, Please Try Again'
            throw error;
        });
    }

    function upload([url1]) {
        const additionalData= {
          picture: url1
        }
        console.log(additionalData)

        const formData1 = new FormData();

        // Append additional data to the FormData object
        for (const key in additionalData) {
            if (additionalData.hasOwnProperty(key)) {
                formData1.append(key, additionalData[key]);
            }
        }

        const payload = new URLSearchParams(formData1)
        fetch(`/updateImage/<%= user.id %>`, {
                method:'POST',
                body: payload
            }).then(res =>{
                if (res.ok){
                    submitbtn.innerText = 'Image Updated Sucessfully' 
                    location.reload(true)
                }
            }).catch(err =>{
                console.log(err)
                submitbtn.innerText = 'Failed, Please Try Again'
                submitbtn.disabled = false
            })
    }

</script>
</body>
</html>